body {
  background-color: #474b7b;
  max-width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  height: 60vh;
  margin: auto;
  border-radius: 20px;
}
.nav {
}
.list {
  flex: 1;
}
.add {
}
